body {
  padding: 10px;
  font-family: sans-serif;
  background:
      url("https://xb-static.nm-ovp.nelonenmedia.fi/xb/styles/2560x1440/public/img/d7835e95c79a365baf66fa6d17802394b99e7ffc-w_kumman_kaa_1920x1080.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 80%;
  margin: 0;
  padding: 3%;
  position: relative;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: 100;
  margin: 0.2em;
  color: #373737;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: white;
}

.header {
  color: #ffffff; font-family: 'Rouge Script', cursive; font-size: 5vw; font-weight: normal; line-height: 10%; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #ff29b8;
  margin-bottom: 5%;
}

.name {
  font-family: Courier;
  font-size: 2vw;
  text-shadow: 3px 3px #000000;
  font-weight: bold;
}

.appContainer {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  top: 0%;
  cursor: pointer;
}

.playing {
  position: absolute;
  width: 3%;
  height: 4%;
}

.sound-card {
  width: 75%;
  height: 70%;
  justify-self: center;
  background-color: #3EAAFE;
  color: #fff;
}

.profile-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-height:100%;
  max-width:100%;
  border: 20px groove #FF69B4;
}

.profile-image-playing {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-height:100%;
  max-width:100%;
  border: 20px groove #FF69B4;
  animation: mymove 1.3s infinite;
}

div.sound-card:nth-of-type(odd) {
  background-color: #000;
  color: #fff;
}

.image-container {
  max-height:100%;
  max-width:100%;
  float: left;
  padding-left: 10px;
}

.count {
  height: 40px;
  padding-left: 60px;
  line-height: 45px;
}

@keyframes mymove {
  from {border: 20px groove #FF69B4}
  to {border: 20px groove white}
}

@keyframes mymove-mobile {
  from {border: 10px groove #FF69B4}
  to {border: 10px groove white}
}

@media only screen and (max-width: 900px) {
  body {
    padding: 10px;
    font-family: sans-serif;
    background:
        url("https://xb-static.nm-ovp.nelonenmedia.fi/xb/styles/2560x1440/public/img/d7835e95c79a365baf66fa6d17802394b99e7ffc-w_kumman_kaa_1920x1080.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 40%;
    margin: 0;
    padding: 3%;
    position: relative;
    min-height: fit-content;
  }
  
  h1 {
    text-align: center;
    font-size: 4vw;
    font-weight: 100;
    margin: 0.2em;
    color: #373737;
  }
  
  h3 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: white;
  }
  
  .playing {
    position: absolute;
    width: 4%;
    height: 2%;
  }

  .header {
    color: #ffffff; font-family: Comic; font-size: 200%; font-weight: normal; line-height: 130%; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #ff29b8;
    margin-bottom: 5%;
  }
  
  .name {
    font-family: Comic;
    font-size: 100%;
    text-shadow: 1px 1px #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
  }
  
  .appContainer {
    justify-items: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-template-rows: 10% 10% 10%;
  }
  
  .sound-card {
    justify-self: start;
    width: 75%;
    height: 40%;
    background-color: #3EAAFE;
    color: #fff;
  }
  
  .profile-image {
    justify-self: left;
    max-height:100%;
    max-width:100%;
    border: 10px groove #FF69B4;
  }

  .profile-image-playing {
    justify-self: left;
    max-height:100%;
    max-width:100%;
    border: 10px groove #FF69B4;
    animation: mymove-mobile 1.3s infinite;
  }
  
  div.sound-card:nth-of-type(odd) {
    background-color: #000;
    color: #fff;
  }
  
  .image-container {
    max-height:100%;
    max-width:100%;
    float: left;
    padding-left: 10px;
  }
}
